@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,500;1,6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, button, input {
    border: 0px;
    background: none;
    transition: color 0.2s ease-out 0s;
    text-decoration: none;
}

/*.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
}*/

body {
    font-family: 'Nunito Sans', sans-serif;
}

button {
    border: none;
    background: none;
    color: #ff00e2;
}

header .navbar {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0.4em;
    margin-left: 1.5em;
}

header .navbar-brand {
    font-family: 'poppins',sans-serif;
    font-style: italic;
    color: #ff00e2;
    margin-right: 2.5em;
}

    header .navbar-brand:hover {
        color: #fb47e7;
        transition: all 0.5s;
    }

header .title-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    background: #fb47e7;
    font-weight: bold;
}

.containerMarca {
    padding: 60px 0px 0px;
    background: rgb(242, 242, 242);
}

.cardMarcas {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 45px;
    padding: 41px 32px;
    border-bottom: 50px solid rgb(242, 242, 242);
}

.textMarcas {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 53px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fb47e7;
    margin: 0px;
}

.boxMarcas {
    width: 100%;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 41px 32px;
    border-bottom: 50px solid rgb(242, 242, 242);
}

.logoMarca {
    margin-left: 50px;
    cursor: pointer;
}

.pesquisaMarcas {
    padding: 23px 28px 38px;
    width: 100%;
}

.pesquisaV {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    height: 45px;
     
}


#seta, .palavra{
    color: #ffffff;
}

#lupa {
    color: #000000;
    
}

.frase {
    background-color: #b950dd;
    text-align: center;
}

.botao {
    background-color: #ff00e2;
    text-align: center;
    
}