@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,500;1,6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, button, input, a {
    border: 0px;
    background: none;
    transition: color 0.2s ease-out 0s;
    text-decoration: none;
}

/*.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
}*/

body {
    font-family: 'Nunito Sans', sans-serif;
}

button {
    border: none;
    background: none;
    color: #ff00e2;
}

header .navbar {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0.4em;
    margin-left: 1.5em;
}

header .navbar-brand .foo {
    font-family: 'poppins',sans-serif;
    font-style: italic;
    color: #fb47e7;
    margin-right: 2.5em;
}

header .navbar-brand:hover .foo:hover{
    color: #b950dd;
    transition: all 0.5s;
}

header .title-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    background: #fb47e7;
    font-weight: bold;
}

.containerMarca {
    padding: 60px 0px 0px;
    background: rgb(242, 242, 242);
}

.cardMarcas {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 45px;
    padding: 41px 32px;
    border-bottom: 50px solid rgb(242, 242, 242);
}

.textMarcas {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 53px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fb47e7;
    margin: 0px;
}

.boxMarcas {
    width: 100%;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 41px 32px;
    border-bottom: 50px solid rgb(242, 242, 242);
}

.logoMarca {
    margin-left: 50px;
    cursor: pointer;
}

.pesquisaMarcas {
    padding: 23px 28px 38px;
    width: 100%;
}

.pesquisaV {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    height: 45px;
     
}


#seta, .palavra, .foo{
    color: #ffffff;
}

#lupa {
    color: #000000;
    
}

.frase {
    background-color: #b950dd;
    text-align: center;
}

.botao, .foo {
    background-color: #ff00e2;
    text-align: center;
    
}

.bXuRJb {
    background: rgb(242, 242, 242);
    padding-top: 68px;
}
*, button, input {
    border: 0px;
    background: none;
    transition: color 0.2s ease-out 0s;
    text-decoration: none;
}

.foo {
    display: block;
    text-decoration: none;
    width: 100px;
   
}

.fGhtvJ {
    border: 1px solid #fb47e7;
    width: 100%;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fb47e7;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    text-decoration: none;
}

.jEGetU {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
}

    .jEGetU strong {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #fb47e7;
        margin-bottom: 24px;
        position: relative;
        width: 100%;
    }


.kKCeyj > a:last-child {
    margin-top: 16px;
}
.bRRDqx {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 184px;
}

.eZIIQE {
    max-width: 1160px;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 48px;
    position: relative;
}

.csfvCu {
    text-decoration: none;

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background: var(--color-primary);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgb(255, 255, 255);
}

*, button, input {
    border: 0px;
    background: none;
    transition: color 0.2s ease-out 0s;
    text-decoration: none;
}

* {
    
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: Inter;
    background: rgb(242, 242, 242);
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

:root, :host {
    --fa-style-family-brands: 'Font Awesome 6 Brands';
    --fa-font-brands: normal 400 1em/1 'Font Awesome 6 Brands';
}